.flex-container {
    display: flex;
    background-color: cyan;
    margin: 10px;
    height: 400px;
}

.flex-container>div {
    background-color: magenta;
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    width: 50px;
    height: 50px;
}

.flex-container>div.height-auto {
    height: auto;
}

.flex-container>div.grande {
    width: 120px;
    height: 120px;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column-reserve {
    flex-direction: column-reverse;
}

/* La siguiente opción evita que se produzca un colapso */
.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

/* La siguiente opción permite que se produzca un colapso */
.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

/* La siguiente opción se utiliza muchísimo */
.justify-content-space-between {
    justify-content: space-between;
}

/* La siguiente opción se utiliza muchísimo */
.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}