p.colorNombre {
    /* Ya hay predefinidos muchos colores que los navegadores pueden identificar por su nombre */
    background-color: greenyellow;
}

p.colorHexadecimal {
    /* Formato de color hexadecimal: #RojoVerdeAzul */
    /* Cada uno de los tres componentes del color puede valer de 00 a FF */
    /* Siendo el #FFFFFF el color blanco y el #000000 el color negro */
    background-color: #FF7F00;
}

p.colorHexadecimalAlpha {
    /* Formato de color hexadecimal + alpha */
    /* El alpha se utiliza para agregar transparencia y puede valer de 00 a FF */
    /* Siendo 00 completamente transparente y FF sólido */
    /* Cuando agregamos transparencia el navegador hace una mezcla con los colores que se superpongan */
    background-color: #0010FF3F;
}

p.colorRGBA {
    /* Formato de color rgba */
    /* Cada uno de los tres componentes del color puede valer de 0 a 255 */
    /* La transparencia puede valer de 0.0 al 1.0 */
    background-color: rgba(255, 0, 0, 0.5);
}