div.cajita1 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
}

div.cajita2 {
    /* La siguiente línea le establece un valor mínimo al alto */
    /* Esto permitirá que se extienda verticalmente de acuerdo a su contenido */
    min-height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
    color: white;
    margin-bottom: 20px;
}

div.cajita3 {
    /* La siguiente línea le establece un valor máximo al alto */
    /* Esto permitirá que se retrotraiga verticalmente de acuerdo a su contenido */
    max-height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: cyan;
    color: black;
    margin-bottom: 20px;
}

div.cajita4 {
    /* La siguiente línea le establece un valor máximo al ancho */
    /* Esto permitirá que se retrotraiga horizontalmente de acuerdo a su contenido */
    max-width: 100px;
    height: 200px;
    border: 2px solid black;
    background-color: yellow;
    color: black;
}