div.fondoGradiente {
    /* 90deg indica la dirección en que se pintará gradiente */
    /* #FFF es otra forma de llamar al color blanco */
    /* El % indica en que posición dentro del gradiente donde se pintará el color */
    background: linear-gradient(90deg, #FFF 0%, red 50%, blue 100%);
}

div.fondoImagen {
    background-image: url(../assets/img/fondo.png);
    /* El siguiente atributo permite que se muestre la imagen una única vez y no como un mosaico */
    background-repeat: no-repeat;
    /* El siguiente atributo permite fijar la imagen a la parte inferior de la página */
    background-position: bottom;
    /* El siguiente atributo permite que la imagen nos siga al hacer scroll*/
    background-attachment: fixed;
    /* SHORTHAND para background */
    /* Hace en una sola línea lo mismo que las 4 anteriores */
    background: black url(../assets/img/fondo.png) no-repeat bottom fixed;
}