p.center {
    text-align: center;
}

p.end {
    text-align: end;
}

p.justify {
    text-align: justify;
}

b,
i {
    /* Los elementos en línea toman la alineación del elemento en bloque que los contiene */
    color: red;
}

p.overline {
    /* No se suele dibujar una línea por arriba del texto */
    text-decoration-line: overline;
    /* Los estilos de la línea dibujada son similares a los de los bordes */
    text-decoration-style: double;
    text-decoration-color: blue;
}

p.line-through {
    /* Tachar el texto */
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: black;
}

p.underline {
    /* Subrayar el texto para marcar faltas de ortografía */
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    /* SHORTHAND para text-decoration */
    text-decoration: underline red wavy 1px;
}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

p.atributosVarios {
    /* La siguiente línea le agrega sangría al párrafo */
    text-indent: 20px;
    /* La siguiente línea aumenta la separaciónentre las letras (no poner mas de 2px) */
    letter-spacing: 2px;
    /* La siguiente línea aumenta la separación entre líneas (por default es 1) */
    line-height: 1.5;
    /* La siguiente línea aumenta la separación entre palabras */
    word-spacing: 10px;
}

p.scrollHorizontal {
    white-space: nowrap;
}

p.textoConSombra {
    /* La siguiente línea le agrega una sombra al texto */
    /* 1px hacia la derecha */
    /* 2px hacia abajo */
    /* un blur o desenfoque de 3px */
    /* color verde */
    text-shadow: 1px 3px 2px green;
    /* Concatenación de sombras */
    text-shadow: 1px 3px 2px green, 1px 3px 15px black;
}