p.dotted {
    border-style: dotted;
    border-top-color: red;
    border-width: 5px;
    border-radius: 25px;
    font-size: 36px;
}

p.dashed {
    border-style: dashed;
    border-color: blue;
    border-width: 10px;
}

p.solid {
    border: green solid 5px;
}

p.double {
    border-style: double;
    border-color: magenta;
    border-width: 5px;
    /* SHORTHAND para border */
    border-top: double magenta 5px;
}

p.groove {
    border-style: groove;
    border-color: yellow;
    border-width: 5px;
}

p.ridge {
    border-style: ridge;
    border-color: cyan;
    border-width: 5px;
}

p.inset {
    border-style: inset;
    border-color: gray;
    border-width: 5px;
}

p.outset {
    border-style: outset;
    border-color: orange;
    border-width: 5px;
}

p.none {
    border-style: none;
    border-color: black;
    border-width: 5px;
}

/* Hace lo mismo que none por lo que no se lo utiliza */
p.hidden {
    border-style: hidden;
    border-color: black;
    border-width: 5px;
}

p.mix {
    /* border-style: arriba derecha abajo izquierda */
    border-style: dotted dashed double solid;
    border-color: brown;
    border-width: 1px;
    font-size: 36px;
}