/* Selector por tipo de elemento: afecta a todos los elementos de dicho tipo */
h1 {
    background-color: black;
    color: white;
}

/* Varios selectores al mismo tiempo */
h2,
h3 {
    background-color: blue;
    color: yellow;
}

/* El estilo aplicado al body afecta a todo lo que está dentro de él */
body {
    background-color: grey;
}

/* Selector de todos los elementos */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Selector por id */
#titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#parrafo {
    text-align: end;
}

/* Selector por clase */
/* ES EL MAS UTILIZADO */
.seccion2 {
    background-color: magenta;
}

.seccion3 {
    background-color: cyan;
}

/* Combinación de selectores por tipo de elemento y clase */
h2.seccion3 {
    background-color: red;
}

/* Combinación de selectores por tipo de elemento y id (no es útil porque el id es unico) */
p#parrafo4 {
    background-color: green;
}

/* Combinación de selectores por clase: el elemento debe tener ambas clases para que se aplique el estilo */
.seccion3.estilo-fuente-distinto {
    font-family: 'Times New Roman', Times, serif;
}