p.atras {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 5em;
    color: blue;
    /* La siguiente línea permite enviar el elemento hacia atrás en caso de superposición */
    /* No usar mas de un nivel de z-index */
    z-index: -1;
}

p.adelante {
    position: relative;
    top: -500px;
    left: 50px;
    font-size: 5em;
    color:red;
    /* La siguiente línea permite enviar el elemento hacia adelante en caso de superposición */
    z-index: 1;
}