/* DEFINICIONES: */
/* MARGIN ES EL ESPACIO DESDE EL BORDE HACIA AFUERA */
/* EL PADDING ES EL ESPACIO DESDE EL BORDE HACIA ADENTRO */
.cajita1 {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: blue;
    color: white;
    /* Con esta linea separo la cajita 1 de la caja 2 */
    margin-bottom: 30px;
}

.cajita2 {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: red;
    color: white;
    /* Con esta linea separo la cajita 2 del margen izquierdo */
    margin-left: 60px;
}

.cajita3 {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: green;
    color: white;
    /* Con esta linea separo la cajita 3 de la caja 2 */
    margin-top: 30px;
}

/* SHORTHAND PARA MARGIN */
/* margin: arriba derecha abajo izquierda */
.cajita4 {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: cyan;
    color: black;
    margin: 10px 30px 50px 150px;
}

.cajita5 {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: magenta;
    color: white;
}