/* Presionar CTRL+] para comentar o descomentar el código */
/* Presionar ALT+SHIFT+P para emprolijar el codigo */
/* selector {propiedad1: valor1; propiedad2: valor2; ...} */
h1 {
    color: red;
    background-color: black;
}

h2 {
    color: yellow;
    background-color: blue;
}